In [3]:
# Import pandas
import pandas as pd

In [10]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)
df.head()

C:\Users\scien\AppData\Local\Temp\ipykernel_2980\3042462533.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('balance.txt', delim_whitespace=True)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

* Compare the average income based on ethnicity.

In [20]:
print(df.groupby('Ethnicity')['Income'].mean())

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

* On average, do married or single people have a higher balance?

In [66]:
marital_income = df.groupby('Married')['Income'].mean()
df['Married'] = df['Married'].replace({'Yes': 'Married', 'No': 'Not Married'})
max_married_status = marital_income.idxmax()
print(f"The highest income group is: {max_married_status}. Average income for this group is:", marital_income.max().round(2))

The highest income group is: Married. Average income for this group is: 46.22

* What is the highest income in our dataset?

In [69]:
print(f"The highest income is: ", df['Income'].max().round(2))

The highest income is:  186.63

* What is the lowest income in our dataset?

In [70]:
print(f"The lowest income is: ", df['Income'].min().round(2))

The lowest income is:  10.35

* How many cards do we have recorded in our dataset? (Hint: use `sum()`)

In [72]:
print(f"Total number of cards in the dataset: {df['Cards'].sum()}")

Total number of cards in the dataset: 1183

* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [84]:
print(f"Here are the number of Female and Male entries in the dataset: \n\n{df.value_counts(subset=['Gender'])}")

# I did have a look to see whether there were any NaN value rows for either, but there weren't - so this seemed like the simplest way to answer the query

Here are the number of Female and Male entries in the dataset:

Gender
Female    207
Male      193
Name: count, dtype: int64